button {
    width: 90px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background: #2DC0E8;
    font-size: 15px;
    font-family: Arial;
    color: green;
}
.container{
    text-align: center;
}