*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Helvetica , sans-serif;
    font-size: 13px;
}
.form-main{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d9d9d9;
    width: 800px;
    margin: auto;
}
.container{
    background: white;
    margin: 10px;
    border-radius: 5px;
    padding: 0 40px;
}
.title{
    color: #85dc12;
    padding-top: 25px;
    padding-bottom: 15px;
}
/*.row{*/
/*    display: flex;*/
/*}*/
.input-form{
    display: flex;
    /*flex-wrap: wrap;*/
    align-items: center;
    position: relative;
    margin-bottom: 10px;
}
.icon-first{
    position: absolute;
    padding: 7px 15px;
    display: block;
    font-size: 20px;
    border-right: 2px solid #d9d9d9;
    width: 50px;
    color: #a9a9a9;
}
.form-account,.payment-sub{
    width: 100%;
    padding: 16px 65px;
    background: #f3f3f3;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}
.form-sub{
    width: 100%;
    display: flex;
}
.date-of-birth{
    width: 50%;
}
.select{
    display: flex;
}
.enter-date{
    width: 75px;
    padding: 15px 5px;
    margin-right: 15px;
    color: #a9a9a9;
}
.gender-right{
    width: 50%;
}
.check{
    display: flex;
}
#male{
    color: #a9a9a9;
    border-right:2px solid #a9a9a9;
}
#female{
    color: #a9a9a9;
    border-left:2px solid #a9a9a9;
}
.payment-details{
    margin-bottom: 10px;
}
.pay{
    display: flex;
    width: 100%;
}
.pays{
    width: 50%;
}
.payment-sub{
    font-size: 16px;
    color: #a9a9a9;
}

.payment-sub:hover{
    background:#85dc12;
    color: white;
}
.datecards{
    display: flex;
    width: 100%;
}
.cardcvc-left{
    width: 50%;
}
.input-cardcvc{
    width: 80%;
}
.cardcvc-right{
    display: flex;
    width: 50%;
}
.date-cvc{
    padding: 0;
    text-align: center;
    height: 49.11px;
}

.read{
    display: flex;
    margin-bottom: 25px;
}
.tick{
    width: 30px;
}
.term1{
    color: #a9a9a9;
    font-size: 17px;
    margin: -5px 5px;
}


